header
	menu
		h4 Global Exits
		ul
			li
				a(href="/member/login") Log In
			li
				a(href="/member/books") My Books
			li
				a(href="/member/profile") My Profile
			li
				a(href="/member/logout") Log Out
			li
				a(href="/member/trades") My Trades
			li
				a(href="/books") Home