extends layout

block content
	h2  Member Login
	p Use the form below to log in
	form(action="/member/login", method="post")
		label.input-group
			span.input-group-addon Email:
			input.form-control(type="email", name="email")
		label.input-group
			span.input-group-addon Password:
			input.form-control(type="password", name="password")
		button.btn.btn-primary(type="submit") Log In
	p
		a(href="/member/signup") Not a member? Sign up