extends layout

block content
	h2  Member Login
	if( errors.length )
		ul.list-unstyled.text-warning
			each error in errors
				li= error
	form(action="/member/login", method="post")
		section.form-group.form-group-sm
			label(for="email") Email:
			input.form-control(type="email", name="email")
		section.form-group.form-group-sm
			label(for="password") Password:
			input.form-control(type="password", name="password")
		div.btn-toolbar.pull-right
			button.btn.btn-sm.btn-primary(type="submit") Log In
			a.btn.btn-sm.btn-default(href="/member/signup") Not a member? Sign up